@charset "UTF-8";

.person-insert [type="button"][disabled="disabled"] {
    opacity: .5;
}

.person-search, .person-insert {
    margin-top: 10px;
    margin-bottom: 10px;
}

.person-list td,
.person-list th {
    width: 150px;
    border: 1px solid #c5c5c5;
    padding: 5px;
}

.person-list th {
    background-color: #c3c3c3;
    text-align: center;
}

.person-list th a {
    color: #000;
}

.person-list .odd {
    background-color: #f5f5f5;
}

.person-list [title="Ações"] {
    text-align: center;
}

.person-list tfoot {
    text-align: right;
}